
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{{title}}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Full Stack Developer based in Melbourne"/>
        <meta name="keywords" content="Full Stack, Developer, Melbourne, js, php, frontend, css, web"/>
        <meta name="google-site-verification" content="x8JcxAj255mpX9w4lVJSrMwwAiEwWaWNiS-GLcwkPzk"/>
        <meta property="og:title" content="Ezekiel Kigbo"/>
        <meta property="og:image" content="/dist/images/me-mt-dandenong-768.png"/>
        <meta property="og:description" content="Melbourne based Full Stack Developer"/>
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{{{styles}}}">
    </head>
    <body>

        <!-- Add your site or application content here -->
        <div id="container">
          <header>
            <h1>Ezekiel Kigbo</h1>
          </header>
          {{{body}}}
          <footer>
            <p>Photography by <a href='http://haleyk.com'>haleyk</a></p>
            <ul id="social">
              <li><a href="mailto:theatlasroom@gmail.com"><span class="social-label">Contact me</span> <span class="fa fa-2x fa-envelope"></span></a></li>
              <li><a href="http://twitter.com/theatlasroom"><span class="social-label">Twitter</span> <span class="fa fa-2x fa-twitter"></span></a></li>
              <li><a href="http://instagram.com/theatlasroom"><span class="social-label">Instagram</span> <span class="fa fa-2x fa-instagram"></span></a></li>
              <li><a href="https://au.linkedin.com/in/theatlasroom"><span class="social-label">LinkedIn</span> <span class="fa fa-2x fa-linkedin"></span></a></li>
              <li><a href="http://github.com/theatlasroom"><span class="social-label">GitHub</span> <span class="fa fa-2x fa-github"></span></a></li>
              <li><a href="http://soundcloud.com/theatlasroom"><span class="social-label">SoundCloud</span> <span class="fa fa-2x fa-soundcloud"></span></a></li>
            </ul>
          </footer>
        </div>

        <script src="{{{bundle}}}"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-28194714-1','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        <script type="application/ld+json">
          { "@context" : "http://schema.org",
            "@type" : "Person",
            "name" : "Ezekiel Kigbo",
            "url" : "http://eakigbo.me",
            "sameAs" : [
                "http://facebook.com/theatlasroom",
                "http://twitter.com/theatlasroom",
                "http://instagram.com/theatlasroom",
                "http://github.com/theatlasroom",
                "http://www.linkedin.com/in/theatlasroom",
                "http://theatlasroom.bandcamp.com",
                "http://soundcloud.com/theatlasroom",
                "https://medium.com/@theatlasroom",
                "http://stackoverflow.com/users/2490067/theatlasroom"
              ]
          }
        </script>
    </body>
</html>
