{{define "body"}}
<div id="actions" class="content-section hide-for-print">
  <div class="content">
    <a href="/" class="button">Home</a>&nbsp;<button id="print-cv" type="button" class="button button-secondary">Print a
      copy</button>
  </div>
</div>
<div class="content-section">
  <div class="content">
    <section id="cv">
      {{.Data.Cv | safeHTML }}
    </section>
  </div>
</div>
<div class="content-section hide-for-print">
  <div class="content">
    <a href="#cv" class="button">Back to top</a>
  </div>
</div>
{{end}}