{{define "body"}}
<div class="content-section">
  <div class="content">
    <section id="about">
      {{.About | safeHTML}}
    </section>
  </div>
</div>
<div class="content-section">
  <div class="content">
    <ul id="additional-links">
      <li><a class="button underline-on-hover" href="/cv">View my CV</a></li>
      <li><a class="button underline-on-hover button-secondary" href="http://github.com/theatlasroom/tidbits">Knowledge
          repository</a></li>
      <li><a class="button underline-on-hover button-secondary" href="http://bandcamp.com/theatlasroom">Bandcamp</a>
      </li>
      <li><a class="button underline-on-hover button-secondary" href="http://soundcloud.com/theatlasroom">SoundCloud</a>
      </li>
    </ul>
  </div>
</div>
{{end}}