<main class="content">
  <section id="about">
    {{{data.about}}}
  </section>
  <section id="cv">
    <!-- <div id="print"><a class="fa fa-print">&nbsp;Print</a></div> -->
    <h1>cv</h1>
    {{{data.cv}}}
  </section>
</main>
