<div class="content-section">
  <div class="content">
    <section id="about">
      {{{data.about}}}
    </section>
  </div>
</div>
<div class="content-section">
  <div class="content">
    <ul id="additional-links">
      <li><a class="button" href="/cv">View my CV</a></li>
      <li><a class="button button-secondary" href="http://github.com/theatlasroom/tidbits">Knowledge repository</a></li>
      <li><a class="button button-secondary" href="http://bandcamp.com/theatlasroom">Bandcamp</a></li>
      <li><a class="button button-secondary" href="http://soundcloud.com/theatlasroom">SoundCloud</a></li>
    </ul>
  </div>
</div>
<footer class="content-section">
  <section class="content">
    <p>Photography by <a href='http://haleyk.com'>haleyk</a></p>
  </section>
</footer>
