doctype html
html(class="no-js")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Full Stack Developer based in Melbourne')
    meta(name='keywords', content='Full Stack, Developer, Melbourne, js, php, frontend, css, web')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-site-verification', content='x8JcxAj255mpX9w4lVJSrMwwAiEwWaWNiS-GLcwkPzk')
    meta(property='og:title', content='Ezekiel Kigbo')
    meta(property='og:image', content='http://www.eakigbo.me/dist/images/me-mt-dandenong-768.png')
    meta(property='og:description', content='Melbourne based Full Stack Developer')
    title= title
    script.
    - if(environment === 'development') {
        //link(rel='stylesheet', href='/dist/css/eakigbo.css')
        script(src='http://localhost:8080/dist/bundle.js')
    - } else {
        //link(rel='stylesheet', href='/dist/css/eakigbo.css')
        script(src='/dist/bundle.js')
    - }
  body
    block content
