@title-font:"bebas-neue";
@body-font:"museo-sans";

@col-primary:#F56723;
@col-secondary:#FFF;
@col-tertiary:;
@col-bg:#232323;
@col-heading:#F2F2F2;
@col-text:#D6D6D6;

@font-size-large: 15pt;
@font-size-medium: 12pt;
@font-size-small: 10pt;

.vertical-centered {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered {text-align:center;}
.container-margins(@width) {
  header, #main, footer {
    margin:@width/2 @width;
    opacity:1;
  }
}

a {
  color:@col-text;
  //text-decoration: underline;
  border-bottom:solid @col-primary 0.05rem;
  font-weight:bold;
  &:hover {
    color:@col-secondary;
  }
}

// General styles
html {
  font-size:@font-size-small;
}

html.loading {
  header, #main, footer {display:none;}
}

// use flexbox for the layout
.flexbox {
  #container {
    //display:flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction:column;
    justify-content: center;
    padding:3.25rem 0 0 0;
  }

  header, footer {
    width:85%;
  }

  header, #main, footer, #loader {
    margin:0 auto;
  }

  footer {
    margin-top:1.5rem;
  }
}

#loader {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  h1 {margin-top:3rem;}
}

// non flexbox fall back
/*:not(.flexbox){
  body {
    display:table;
    width:100%;
  }

  #container {
    display:table;
    width:100%;
  }

  header, #main, footer {
    display:table-row;
    background:transparent;
  }
}*/

body {
  //.container-margins(3rem);
  h1 {font-size:3.5rem; }
  h2 {font-size:1.75rem; }
  h3 {font-size:1.5rem; }
  h4 {font-size:1.25rem; }
  p, ul, ol, blockquote {font-size:1rem;}

  h1 {font-family:@title-font;font-weight:bold;color:@col-heading;text-transform:uppercase;}
  h1, h2, h3, h4, h5, h6 {line-height:3rem;}
  ul, ol, p, li, blockquote {line-height:2rem;}
  h2, h3, h4, h5, h6, ul, ol, p, blockquote {font-family:@body-font;color:@col-text;font-weight:light;}
  height:100%;
  background-color:#000;

  //display:table;
  //width:100%;
  #main #cv {
    display:none;
    text-align:left;
    padding:1rem 2rem;
    h1, h2, h3, h4, h5, h6, ul, ol, p, blockquote {color:@col-bg;}
    blockquote {
      border-left:solid @col-primary 0.25rem;
      font-style: italic;
    }
    a {
      color:@col-bg;
    }
    background:@col-text;
  }
}

#container::after {
  content: "";
  /* full size bg image */
  //background: url(../images/me-crop.png) no-repeat center center fixed;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment:scroll;
  background-size:cover;
  background-clip: border-box;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}


#container {
  //.vertical-centered;
  border-top:solid 0.5rem @col-primary;
  //margin:0;
  //padding:5rem 2.5rem;
  //height:100vh;
  //display:table;
  //width:100%;
}

header, #main, footer {
  //display:table-row;
  background:transparent;
}

// header styles
header {
  //margin-top:3rem;
  .centered;
}

// main body styles
#main {
  text-align:center;
  #about, #cv-trigger {
    max-width:30rem;
    margin:0 auto;
  }
  #cv {
    // display:none;
  }
  #cv-trigger {
    .centered; margin:1.75rem auto;
  }
}


// footer styles
footer {
  font-weight:100;
  .centered;
  a {border:none;}
  #social {
    font-size:small;
    li {
      display:inline-block;
      list-style-type:none;
      padding:0 0.75rem;
    }

    .social-label {
      display:none;
    }
  }
}

.btn-primary {
  display:inline-block;
  margin-bottom:1rem;
  background:@col-text;
  color:@col-bg; font-weight:normal;
  font-size:smaller;
  padding:0.5rem 1rem;
}

button.icon-btn {
  span {display:block;}
  span.btn-label {font-size:smaller;}
  background:none;
  color:@col-text;
  height:5rem;
  width:5rem;
  border:solid 0.25rem @col-primary;
  border-radius:50%;
}

@media all and (min-width: 20em) {
  html {font-size:@font-size-medium;}
  .flexbox {
    #container {padding:7.5rem 0 0 0;}
    header, footer {width:90%;}
    footer {margin-top:3rem;}
  }
}

@media all and (min-width: 40em){
  html {font-size:@font-size-large;}
}
