/* animations */
@keyframes slidein {
  from {
    margin-top: -100%;
    width: 100%;
    filter:grayscale(100%);
  }

  to {
    margin-top: 0%;
    width: 100%;
    filter:grayscale(0%);
  }
}

@keyframes fadein {
  0% { opacity: 0; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}

header { animation-duration: 1s;  animation-name: fadein; }
#avatar { animation-duration: 1s;  animation-name: fadein; }
#headline { animation-duration: 1s;  animation-name: fadein; }
#body-content { animation-duration: 3s;  animation-name: fadein; }
footer { animation-duration: 5s;  animation-name: fadein; }

#avatar img:hover {
  filter:grayscale(100%);
}

.content a {
  position: relative;
  text-decoration: none;
}

.content a:before {
  background-color:#D14841;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
